.body20,
.tittle83 {
  align-self: stretch;
  position: relative;
}
.tittle83 {
  letter-spacing: 0.2px;
  line-height: 125%;
}
.body20 {
  font-size: var(--body-medium-regular-size);
  line-height: 160%;
  color: var(--greyscale-500);
}
.text20 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.reset-password11,
.text-parent3,
.text20 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.reset-password11 {
  border: 1px solid var(--color-steelblue-200);
  font-weight: 600;
  font-family: var(--body-small-medium);
  font-size: var(--heading-h6-size);
  background-color: transparent;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  height: 56px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-base);
}
.text-parent3 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.button21 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 140%;
}
.button-continue11 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-steelblue-200);
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--heading-h6-size);
  color: var(--additional-white);
}
.body21 {
  position: relative;
  font-size: var(--body-medium-regular-size);
  line-height: 160%;
  color: var(--color-steelblue-200);
  cursor: pointer;
}
.content50 {
  position: absolute;
  top: 226px;
  left: 464px;
  border-radius: var(--br-base);
  background-color: var(--additional-white);
  width: 511px;
  height: 394px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.span21 {
  letter-spacing: 0.2px;
  font-weight: 500;
  font-family: var(--body-small-medium);
}
.sign-up5 {
  color: var(--color-steelblue-200);
}
.dont-have-an-container2 {
  position: absolute;
  top: 652px;
  left: 613px;
  font-size: var(--body-medium-regular-size);
  line-height: 160%;
}
.logo-1-icon38 {
  position: absolute;
  top: 0;
  left: 0;
  width: 302px;
  height: 191px;
  object-fit: cover;
}
.forgot-password-admin {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: center;
  font-size: var(--heading-h3-size);
  color: var(--greyscale-900);
  font-family: var(--body-small-medium);
}
