.frame-icon {
  position: absolute;
  top: 0;
  left: 1109px;
  width: 40px;
  height: 67px;
  overflow: hidden;
}
.search-icon15 {
  position: relative;
  width: 20px;
  height: 20px;
}
.search15 {
  position: relative;
  line-height: 160%;
}
.searchdefault15 {
  position: absolute;
  top: 20px;
  left: 617px;
  border-radius: var(--br-xs);
  border: 1px solid var(--greyscale-200);
  box-sizing: border-box;
  width: 263px;
  height: 48px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: var(--gap-xs);
}
.dashboard85 {
  position: absolute;
  top: 29px;
  left: 32px;
  font-size: var(--heading-h3-size);
  letter-spacing: 0.2px;
  line-height: 125%;
  color: var(--greyscale-900);
}
.avatar-icon15 {
  position: relative;
  width: 40px;
  height: 40px;
}
.name153 {
  position: relative;
  font-size: var(--body-small-medium-size);
  line-height: 160%;
  color: var(--greyscale-500);
}
.avatar-parent13,
.name-parent13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.avatar-parent13 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.chevron-down-icon18 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon28,
.user15 {
  position: absolute;
  display: none;
}
.user15 {
  top: 23px;
  left: 976px;
  width: 182px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--greyscale-900);
}
.icon28 {
  top: 24px;
  left: 912px;
  border-radius: var(--br-981xl);
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.line150 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-right: 1px solid var(--greyscale-100);
  box-sizing: border-box;
  width: 1px;
  height: 89px;
}
.exclude-icon30 {
  position: relative;
  width: 27.8px;
  height: 27.8px;
}
.hiphonic30 {
  position: absolute;
  top: 0;
  left: 26.54%;
  letter-spacing: -0.29px;
  line-height: 125%;
}
.logo30,
.menu45 {
  position: absolute;
  left: 32px;
}
.logo30 {
  top: 32px;
  width: 139.8px;
  height: 29px;
  font-size: var(--font-size-4xl-2);
  color: var(--greyscale-900);
}
.menu45 {
  top: 120px;
  font-size: var(--body-small-medium-size);
  letter-spacing: 1px;
  line-height: 160%;
  color: var(--greyscale-400);
}
.layout-grid-icon34 {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard86 {
  border-radius: var(--br-xs);
  background-color: var(--greyscale-50);
  width: 218px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  color: var(--color-steelblue-200);
}
.tick-square-icon35 {
  position: relative;
  width: 22px;
  height: 22px;
}
.my-tasks31 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.goals62,
.list65,
.my-tasks30 {
  display: flex;
  justify-content: flex-start;
}
.my-tasks30 {
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.goals62,
.list65 {
  position: absolute;
  top: 155px;
  left: 16px;
  flex-direction: column;
  align-items: flex-start;
}
.goals62 {
  top: 764px;
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.name-child88 {
  position: relative;
  border-radius: 50%;
  background-color: var(--additional-indigo);
  width: 12px;
  height: 12px;
}
.website-design30 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 600;
}
.name154 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.dots-icon95 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.name-child89,
.name-child90 {
  position: relative;
  border-radius: 50%;
  background-color: var(--secondary-amber-500-base);
  width: 12px;
  height: 12px;
}
.name-child90 {
  background-color: var(--additional-emerald);
}
.list66 {
  position: absolute;
  top: 426px;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--greyscale-900);
}
.switches-child28,
.switches30 {
  border-radius: var(--br-981xl);
  height: 24px;
  overflow: hidden;
}
.switches-child28 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--additional-white);
  border: 4px solid var(--greyscale-300);
  box-sizing: border-box;
  width: 24px;
}
.switches30 {
  position: relative;
  background-color: var(--greyscale-300);
  width: 40px;
  flex-shrink: 0;
}
.project123 {
  position: absolute;
  top: 828px;
  left: 16px;
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.line151,
.line152,
.line153 {
  position: absolute;
  top: 87.5px;
  left: 15.5px;
  border-top: 1px solid var(--greyscale-100);
  box-sizing: border-box;
  width: 219px;
  height: 1px;
}
.line152,
.line153 {
  top: 370.5px;
}
.line153 {
  top: 819.5px;
}
.space15 {
  position: relative;
  letter-spacing: 1px;
  line-height: 160%;
}
.tittle41 {
  position: absolute;
  top: 395px;
  left: 32px;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-small-medium-size);
  color: var(--greyscale-400);
}
.frame3,
.header18,
.navigation15 {
  position: absolute;
  overflow: hidden;
}
.navigation15 {
  top: 0;
  left: -250px;
  background-color: var(--additional-white);
  width: 250px;
  height: 88px;
}
.frame3,
.header18 {
  left: 0;
}
.header18 {
  top: 0;
  background-color: var(--additional-white);
  width: 1190px;
  height: 88px;
}
.frame3 {
  top: 20px;
  width: 129px;
  height: 24px;
}
.divider3,
.header19 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.divider3 {
  bottom: 0;
  background-color: var(--border);
  height: 1px;
  overflow: hidden;
}
.header19 {
  top: 88px;
  height: 64px;
}
.frame,
.frame2 {
  position: absolute;
  top: 3px;
  left: -5px;
  width: 1114px;
  height: 152px;
  overflow: hidden;
}
.frame {
  top: 0;
  left: 0;
  width: 1190px;
}
.content-child9 {
  position: absolute;
  top: 111px;
  left: 20px;
  border-radius: var(--br-mini);
  background-color: var(--additional-white);
  width: 1129px;
  height: 765px;
}
.body6,
.name158 {
  position: absolute;
  left: 40px;
}
.name158 {
  border: 1px solid var(--greyscale-200);
  font-family: var(--body-small-medium);
  font-size: var(--heading-h6-size);
  background-color: transparent;
  top: 186px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 404px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
}
.body6 {
  top: 140px;
  line-height: 160%;
  font-weight: 600;
  display: inline-block;
  width: 556px;
}
.button7 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 140%;
}
.buttonlargeprimary2,
.email2 {
  font-size: var(--heading-h6-size);
  position: absolute;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonlargeprimary2 {
  top: 343px;
  left: 44px;
  background-color: var(--color-steelblue-200);
  width: 220px;
  height: 32px;
  justify-content: center;
  padding: var(--padding-5xs);
  text-align: center;
  color: var(--additional-white);
}
.email2 {
  border: 1px solid var(--greyscale-200);
  font-family: var(--body-small-medium);
  background-color: transparent;
  top: 263px;
  left: 40px;
  width: 404px;
  height: 56px;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
}
.content26 {
  position: absolute;
  top: 0;
  left: 250px;
  background-color: var(--greyscale-50);
  width: 1190px;
  height: 900px;
  overflow: hidden;
}
.line154 {
  top: -0.5px;
  left: 249.5px;
  border-right: 1px solid var(--greyscale-100);
  box-sizing: border-box;
  width: 1px;
  height: 901px;
}
.line154,
.logo31,
.menu47 {
  position: absolute;
}
.logo31 {
  top: 32px;
  left: 32px;
  width: 139.8px;
  height: 29px;
  display: none;
  font-size: var(--font-size-4xl-2);
}
.menu47 {
  top: 0;
  left: 0;
  letter-spacing: 1px;
  line-height: 160%;
}
.layout-grid-icon35 {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.dashboard88 {
  border-radius: var(--br-xs);
  background-color: var(--greyscale-50);
  width: 218px;
  height: 48px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  color: var(--color-steelblue-200);
}
.tick-square-icon36 {
  position: relative;
  width: 22px;
  height: 22px;
  display: none;
}
.timelines-texto20 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
}
.profile38,
.timelines20 {
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.timelines20 {
  background-color: var(--greyscale-50);
  color: var(--color-skyblue-200);
}
.profile38 {
  cursor: pointer;
}
.list67,
.menu46 {
  position: absolute;
}
.list67 {
  top: 35px;
  left: -16px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-medium-regular-size);
  color: var(--greyscale-500);
}
.menu46 {
  top: 120px;
  left: 32px;
  width: 39px;
  height: 19px;
  font-size: var(--body-small-medium-size);
  color: var(--greyscale-400);
}
.settings72 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
  display: none;
}
.goals63,
.project124 {
  position: absolute;
  left: 16px;
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  color: var(--greyscale-500);
}
.goals63 {
  top: 764px;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.project124 {
  top: 828px;
  display: none;
  justify-content: space-between;
}
.list68 {
  position: absolute;
  top: 31px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.projects30,
.tittle42 {
  position: absolute;
  left: 16px;
}
.tittle42 {
  top: 0;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-small-medium-size);
  color: var(--greyscale-400);
}
.projects30 {
  top: 395px;
  width: 218px;
  height: 175px;
  display: none;
}
.sidebar15 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--additional-white);
  box-shadow: 10px 10px 50px rgba(100, 116, 139, 0.04);
  width: 250px;
  height: 900px;
  overflow: hidden;
  color: var(--greyscale-900);
}
.dashboard90 {
  border-radius: var(--br-xs);
  background-color: var(--greyscale-50);
  width: 218px;
  height: 48px;
  display: none;
}
.list69 {
  position: absolute;
  top: 151px;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconshelp15 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.settings73,
.settings74 {
  position: absolute;
  top: 763px;
  left: 19px;
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  cursor: pointer;
}
.settings74 {
  top: 827px;
  left: 16px;
}
.logo-1-icon18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 266px;
  height: 128px;
  object-fit: cover;
}
.remove-colaborator {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-medium-regular-size);
  color: var(--greyscale-500);
  font-family: var(--body-small-medium);
}
.danger-square-icon5,
.the-colaborator-has {
  position: absolute;
  top: 66px;
  left: 37px;
  width: 24px;
  height: 24px;
}
.the-colaborator-has {
  top: 68px;
  left: 65px;
  letter-spacing: 0.2px;
  line-height: 150%;
  display: inline-block;
  width: 256px;
}
.pop-up-remove-colaborator {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--additional-white);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 334px;
  height: 155px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--body-medium-regular-size);
  color: var(--color-steelblue-200);
  font-family: var(--body-small-medium);
}
