.background-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  width: 1126px;
  height: 748px;
}
.activity2 {
  position: absolute;
  top: 52.1px;
  left: 53.5px;
  font-size: var(--heading-h6-size);
  letter-spacing: 0.2px;
  line-height: 150%;
  display: inline-block;
  color: var(--greyscale-900);
  text-align: left;
  width: 177.3px;
  height: 56.8px;
}
.kwh2,
.kwh3,
.kwh4,
.kwh5,
.kwh6 {
  position: absolute;
  top: 105px;
  left: 63px;
  line-height: 160%;
}
.kwh3,
.kwh4,
.kwh5,
.kwh6 {
  top: 220px;
  left: 64px;
}
.kwh4,
.kwh5,
.kwh6 {
  top: 335px;
}
.kwh5,
.kwh6 {
  top: 453px;
  left: 67px;
}
.kwh6 {
  top: 564px;
}
.sun,
.wed {
  position: relative;
  line-height: 160%;
}
.wed {
  font-weight: 500;
  color: var(--color-steelblue-200);
}
.day1 {
  position: absolute;
  top: 606px;
  left: 154px;
  width: 938px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}
.line-chart-icon,
.line-icon {
  position: absolute;
  top: 116px;
  left: 154px;
  width: 938.2px;
  height: 461.6px;
}
.line-chart-icon {
  top: 137.8px;
  left: 152.8px;
  width: 939.3px;
  height: 440.3px;
}
.kwh-wrapper,
.line-indicator-icon {
  position: absolute;
  top: 216px;
  left: 641.8px;
  width: 39.4px;
  height: 361.6px;
}
.kwh-wrapper {
  top: 186px;
  left: 692px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-800);
  box-shadow: 0 20px 40px rgba(15, 23, 42, 0.15);
  backdrop-filter: blur(8px);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 71px;
  height: 39px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  text-align: left;
  color: var(--additional-white);
}
.chevron-right-icon4 {
  position: absolute;
  top: 696px;
  left: 33px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}
.background-parent {
  position: absolute;
  top: 112px;
  left: 23px;
  width: 1126px;
  height: 748px;
}
.search-icon4 {
  position: relative;
  width: 20px;
  height: 20px;
}
.searchdefault4 {
  position: absolute;
  top: 20px;
  left: 617px;
  border-radius: var(--br-xs);
  border: 1px solid var(--greyscale-200);
  box-sizing: border-box;
  width: 263px;
  height: 48px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: var(--gap-xs);
}
.dashboard25 {
  position: absolute;
  top: 29px;
  left: 32px;
  font-size: var(--heading-h3-size);
  letter-spacing: 0.2px;
  line-height: 125%;
  color: var(--greyscale-900);
}
.avatar-icon4 {
  position: relative;
  width: 40px;
  height: 40px;
}
.name42 {
  position: relative;
  font-size: var(--body-small-medium-size);
  line-height: 160%;
  color: var(--greyscale-500);
}
.avatar-parent2,
.name-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.avatar-parent2 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.chevron-down-icon4 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.user4 {
  top: 23px;
  left: 976px;
  width: 182px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--greyscale-900);
}
.icon7,
.line38,
.user4 {
  position: absolute;
}
.icon7 {
  top: 24px;
  left: 912px;
  border-radius: var(--br-981xl);
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: none;
}
.line38 {
  top: -0.5px;
  left: -0.5px;
  border-right: 1px solid var(--greyscale-100);
  box-sizing: border-box;
  width: 1px;
  height: 89px;
}
.exclude-icon8 {
  position: relative;
  width: 27.8px;
  height: 27.8px;
}
.hiphonic8 {
  position: absolute;
  top: 0;
  left: 26.54%;
  letter-spacing: -0.29px;
  line-height: 125%;
}
.logo8,
.menu12 {
  position: absolute;
  left: 32px;
}
.logo8 {
  top: 32px;
  width: 139.8px;
  height: 29px;
  font-size: var(--font-size-4xl-2);
  color: var(--greyscale-900);
}
.menu12 {
  top: 120px;
  font-size: var(--body-small-medium-size);
  letter-spacing: 1px;
  line-height: 160%;
  color: var(--greyscale-400);
}
.layout-grid-icon10 {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard26 {
  border-radius: var(--br-xs);
  background-color: var(--greyscale-50);
  width: 218px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  color: var(--color-steelblue-200);
}
.tick-square-icon11 {
  position: relative;
  width: 22px;
  height: 22px;
}
.my-tasks9 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}
.goals18,
.list19,
.my-tasks8 {
  display: flex;
  justify-content: flex-start;
}
.my-tasks8 {
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.goals18,
.list19 {
  position: absolute;
  top: 155px;
  left: 16px;
  flex-direction: column;
  align-items: flex-start;
}
.goals18 {
  top: 764px;
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.name-child22 {
  position: relative;
  border-radius: 50%;
  background-color: var(--additional-indigo);
  width: 12px;
  height: 12px;
}
.website-design8 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 600;
}
.name43 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.dots-icon25 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.name-child23,
.name-child24 {
  position: relative;
  border-radius: 50%;
  background-color: var(--secondary-amber-500-base);
  width: 12px;
  height: 12px;
}
.name-child24 {
  background-color: var(--additional-emerald);
}
.list20 {
  position: absolute;
  top: 426px;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--greyscale-900);
}
.switches-child6,
.switches8 {
  border-radius: var(--br-981xl);
  height: 24px;
  overflow: hidden;
}
.switches-child6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--additional-white);
  border: 4px solid var(--greyscale-300);
  box-sizing: border-box;
  width: 24px;
}
.switches8 {
  position: relative;
  background-color: var(--greyscale-300);
  width: 40px;
  flex-shrink: 0;
}
.line39,
.line40,
.line41,
.project35 {
  position: absolute;
  box-sizing: border-box;
}
.project35 {
  top: 828px;
  left: 16px;
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-base);
}
.line39,
.line40,
.line41 {
  top: 87.5px;
  left: 15.5px;
  border-top: 1px solid var(--greyscale-100);
  width: 219px;
  height: 1px;
}
.line40,
.line41 {
  top: 370.5px;
}
.line41 {
  top: 819.5px;
}
.space4 {
  position: relative;
  letter-spacing: 1px;
  line-height: 160%;
}
.tittle12 {
  position: absolute;
  top: 395px;
  left: 32px;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-small-medium-size);
  color: var(--greyscale-400);
}
.header4,
.navigation4 {
  top: 0;
  background-color: var(--additional-white);
  height: 88px;
}
.navigation4 {
  position: absolute;
  left: -250px;
  width: 250px;
  overflow: hidden;
}
.header4 {
  left: 0;
  width: 1190px;
  text-align: left;
  font-size: var(--body-medium-regular-size);
}
.content6,
.header4,
.icon8 {
  position: absolute;
  overflow: hidden;
}
.icon8 {
  top: 27px;
  left: 1109px;
  border-radius: var(--br-981xl);
  width: 40px;
  height: 40px;
}
.content6 {
  top: 0;
  left: 250px;
  background-color: var(--greyscale-50);
  width: 1190px;
  height: 900px;
  text-align: right;
  font-size: var(--body-small-medium-size);
}
.line42 {
  top: -0.5px;
  left: 249.5px;
  border-right: 1px solid var(--greyscale-100);
  box-sizing: border-box;
  width: 1px;
  height: 901px;
}
.line42,
.logo9,
.menu14 {
  position: absolute;
}
.logo9 {
  top: 32px;
  left: 32px;
  width: 139.8px;
  height: 29px;
  display: none;
  font-size: var(--font-size-4xl-2);
}
.menu14 {
  top: 0;
  left: 0;
  letter-spacing: 1px;
  line-height: 160%;
}
.layout-grid-icon11 {
  overflow: hidden;
  flex-shrink: 0;
}
.layout-grid-icon11,
.tick-square-icon12 {
  position: relative;
  width: 22px;
  height: 22px;
  display: none;
}
.timelines7 {
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  cursor: pointer;
}
.list21,
.menu13 {
  position: absolute;
}
.list21 {
  top: 35px;
  left: -16px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-medium-regular-size);
  color: var(--greyscale-500);
}
.menu13 {
  top: 120px;
  left: 32px;
  width: 39px;
  height: 19px;
  font-size: var(--body-small-medium-size);
  color: var(--greyscale-400);
}
.settings19 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
  display: none;
}
.goals19,
.project36 {
  position: absolute;
  left: 16px;
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  color: var(--greyscale-500);
}
.goals19 {
  top: 764px;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.project36 {
  top: 828px;
  display: none;
  justify-content: space-between;
}
.list22 {
  position: absolute;
  top: 31px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.projects8,
.tittle13 {
  position: absolute;
  left: 16px;
}
.tittle13 {
  top: 0;
  width: 186px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-small-medium-size);
  color: var(--greyscale-400);
}
.projects8 {
  top: 395px;
  width: 218px;
  height: 175px;
  display: none;
}
.sidebar4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--additional-white);
  box-shadow: 10px 10px 50px rgba(100, 116, 139, 0.04);
  width: 250px;
  height: 900px;
  overflow: hidden;
  color: var(--greyscale-900);
}
.dashboard31,
.reports-texto10 {
  position: relative;
  line-height: 160%;
}
.dashboard31 {
  font-weight: 500;
}
.reports-texto10 {
  letter-spacing: 0.2px;
}
.list23,
.reports10 {
  display: flex;
  justify-content: flex-start;
}
.reports10 {
  border-radius: var(--br-xs);
  background-color: var(--greyscale-50);
  width: 218px;
  height: 48px;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  color: var(--color-deepskyblue-100);
}
.list23 {
  position: absolute;
  top: 161px;
  left: 19px;
  flex-direction: column;
  align-items: flex-start;
}
.iconshelp4 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.settings20,
.settings21 {
  position: absolute;
  top: 763px;
  left: 19px;
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
  cursor: pointer;
}
.settings21 {
  top: 827px;
  left: 16px;
}
.logo-1-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 266px;
  height: 128px;
  object-fit: cover;
}
.week {
  position: absolute;
  top: 149px;
  left: 1189px;
  border-radius: var(--br-5xs);
  width: 174.5px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.report-activity {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--body-medium-regular-size);
  color: var(--greyscale-500);
  font-family: var(--body-small-medium);
}
.line69 {
  position: absolute;
  top: 63.5px;
  left: 23.5px;
  border-top: 1px solid var(--greyscale-100);
  box-sizing: border-box;
  width: 287px;
  height: 1px;
}
.notifications1 {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: var(--heading-h6-size);
  letter-spacing: 0.2px;
  line-height: 150%;
  display: inline-block;
  color: var(--greyscale-900);
  text-align: center;
  width: 286px;
  height: 23px;
}
.notifications-child,
.notifications-item {
  position: absolute;
  top: 91px;
  left: 15px;
  border-radius: var(--br-3xs);
  background-color: var(--additional-white);
  border: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  width: 305px;
  height: 35px;
}
.notifications-item {
  top: 148px;
}
.danger-square-icon1,
.danger-square-icon2 {
  position: absolute;
  top: 97px;
  left: 24px;
  width: 24px;
  height: 24px;
}
.danger-square-icon2 {
  top: 154px;
}
.alert-excessive-use,
.alert-excessive-use1 {
  position: absolute;
  top: 97px;
  left: 54px;
  letter-spacing: 0.2px;
  line-height: 150%;
  display: inline-block;
  width: 256px;
  height: 24px;
}
.alert-excessive-use1 {
  top: 154px;
}
.notifications {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--additional-white);
  border: 3px solid var(--color-steelblue-200);
  box-sizing: border-box;
  width: 334px;
  height: 213px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--body-medium-regular-size);
  color: var(--color-steelblue-200);
  font-family: var(--body-small-medium);
}
