.tittle52 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 125%;
}
.body11 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-medium-regular-size);
  line-height: 160%;
  color: var(--greyscale-500);
}
.text12 {
  position: absolute;
  top: 315px;
  left: 164px;
  width: 344px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.resend {
  color: var(--color-steelblue-200);
}
.body12 {
  position: absolute;
  top: 483px;
  left: 164px;
  font-size: var(--body-medium-regular-size);
  line-height: 160%;
  color: var(--greyscale-500);
}
.logo-1-icon23 {
  position: absolute;
  top: 13px;
  left: 12px;
  width: 302px;
  height: 130px;
  object-fit: cover;
}
.number-confirmation-email {
  border: 1px solid var(--greyscale-200);
  font-family: var(--body-small-medium);
  font-size: var(--heading-h6-size);
  background-color: transparent;
  position: absolute;
  top: 403px;
  left: 164px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  width: 404px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
}
.content31 {
  position: absolute;
  top: -13px;
  left: -12px;
  width: 732px;
  height: 900px;
  overflow: hidden;
  color: var(--greyscale-900);
}
.background4,
.background5 {
  position: absolute;
  border-radius: 50%;
}
.background4 {
  top: 142px;
  left: 92px;
  background: linear-gradient(
    179.94deg,
    rgba(255, 255, 255, 0.06),
    rgba(255, 255, 255, 0)
  );
  width: 524px;
  height: 524px;
}
.background5 {
  top: 220px;
  left: 170px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  width: 367px;
  height: 367px;
}
.body13 {
  position: relative;
  font-size: var(--body-medium-regular-size);
  line-height: 160%;
  color: var(--greyscale-50);
  opacity: 0.7;
}
.text13 {
  position: absolute;
  top: 714px;
  left: 121px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.group-child78,
.illustration-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  height: 274px;
}
.group-child78 {
  border-radius: var(--br-xs);
  background-color: var(--additional-white);
  box-shadow: -12px 25px 80px rgba(30, 58, 138, 0.2);
  width: 194px;
  height: 112px;
}
.activity10 {
  position: absolute;
  top: 12px;
  left: 14px;
  line-height: 160%;
}
.m2 {
  position: relative;
  letter-spacing: 0.3px;
  line-height: 160%;
}
.m-container {
  position: absolute;
  top: 57px;
  left: 1px;
  width: 166px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.group-child79,
.group-child80,
.group-child81,
.group-child82,
.group-child83,
.group-child84,
.group-child85 {
  position: absolute;
  top: 34px;
  left: 0;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  background-color: var(--additional-sky);
  width: 10px;
  height: 19px;
}
.group-child80,
.group-child81,
.group-child82,
.group-child83,
.group-child84,
.group-child85 {
  top: 23px;
  left: 27px;
  height: 30px;
}
.group-child81,
.group-child82,
.group-child83,
.group-child84,
.group-child85 {
  top: 29px;
  left: 54px;
  height: 24px;
}
.group-child82,
.group-child83,
.group-child84,
.group-child85 {
  top: 11px;
  left: 81px;
  height: 42px;
}
.group-child83,
.group-child84,
.group-child85 {
  top: 0;
  left: 107px;
  height: 53px;
}
.group-child84,
.group-child85 {
  top: 6px;
  left: 133px;
  height: 47px;
}
.group-child85 {
  top: 21px;
  left: 159px;
  height: 32px;
}
.frame-container,
.rectangle-parent30 {
  position: absolute;
  top: 0;
  left: 0;
  width: 169px;
  height: 53px;
}
.frame-container {
  top: 31px;
  left: 13px;
  height: 70px;
  text-align: center;
  font-size: var(--font-size-5xs);
  color: var(--greyscale-500);
}
.rectangle-parent29 {
  position: absolute;
  top: 55px;
  left: 149px;
  width: 194px;
  height: 112px;
}
.group-child86,
.group-child87 {
  position: absolute;
  left: 0;
  width: 194px;
}
.group-child86 {
  top: 0;
  border-radius: var(--br-xs);
  background-color: var(--additional-white);
  box-shadow: -12px 25px 80px rgba(30, 58, 138, 0.2);
  height: 210px;
}
.group-child87 {
  top: 28px;
  border-radius: 0 0 var(--br-xs) var(--br-xs);
  background-color: var(--greyscale-100);
  height: 182px;
}
.group-child88,
.group-child89 {
  position: absolute;
  background-color: var(--greyscale-200);
}
.group-child88 {
  top: 13px;
  left: 28px;
  border-radius: var(--br-31xl);
  width: 65px;
  height: 6px;
}
.group-child89 {
  top: 12px;
  left: 12px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.group-child90,
.group-child91,
.rectangle-parent31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 194px;
  height: 210px;
}
.group-child90,
.group-child91 {
  border-radius: var(--br-5xs);
  background-color: var(--additional-white);
  width: 83px;
  height: 26px;
}
.group-child91 {
  top: 9px;
  left: 9px;
  border-radius: var(--br-31xl);
  background-color: var(--greyscale-200);
  width: 65px;
  height: 8px;
}
.group-child92,
.rectangle-parent32 {
  position: absolute;
  top: 6px;
  left: 87px;
  width: 83px;
  height: 26px;
}
.group-child92 {
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--additional-white);
  width: 80px;
  height: 78px;
}
.group-child93,
.group-child94,
.group-child95,
.group-child96 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--greyscale-100);
  width: 60px;
  height: 60px;
}
.group-child94,
.group-child95,
.group-child96 {
  background-color: var(--primary-600-base);
}
.group-child95,
.group-child96 {
  background-color: var(--additional-sky);
}
.group-child96 {
  background-color: var(--additional-purple);
}
.div251 {
  position: absolute;
  top: 20px;
  left: 18px;
  line-height: 160%;
  font-weight: 500;
}
.ellipse-parent2 {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 60px;
  height: 60px;
}
.rectangle-parent33 {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 78px;
  text-align: center;
  font-size: var(--body-small-medium-size);
}
.group-child97,
.group-child98,
.group-child99 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--additional-white);
  width: 170px;
  height: 48px;
}
.group-child98,
.group-child99 {
  border-radius: var(--br-9xs);
  background-color: var(--greyscale-200);
  width: 67px;
  height: 6px;
}
.group-child99 {
  top: 18px;
  background-color: var(--greyscale-100);
  width: 58px;
}
.rectangle-parent35 {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 67px;
  height: 24px;
}
.b24,
.completed4 {
  position: relative;
  line-height: 160%;
}
.completed4 {
  font-size: var(--font-size-5xs);
  color: var(--additional-emerald);
}
.parent6 {
  position: absolute;
  top: 8px;
  left: 112px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.rectangle-parent34 {
  position: absolute;
  top: 86px;
  left: 0;
  width: 170px;
  height: 48px;
}
.parent7 {
  position: absolute;
  top: 8px;
  left: 111px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.rectangle-parent36 {
  position: absolute;
  top: 142px;
  left: 0;
  width: 170px;
  height: 48px;
}
.group-child103,
.group-child104,
.group-child105 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--greyscale-200);
  width: 57px;
  height: 8px;
}
.group-child104,
.group-child105 {
  top: 14px;
  width: 79px;
  height: 4px;
}
.group-child105 {
  top: 24px;
  left: 1px;
  width: 41px;
}
.group-parent4,
.rectangle-parent38 {
  position: absolute;
  top: 44px;
  left: 87px;
  width: 79px;
  height: 28px;
}
.group-parent4 {
  top: 40px;
  left: 12px;
  width: 170px;
  height: 190px;
}
.group-parent3,
.illustration2 {
  position: absolute;
  top: 179px;
  left: 149px;
  width: 194px;
  height: 230px;
  text-align: right;
  font-size: var(--font-size-3xs);
}
.illustration2 {
  top: 221px;
  left: 182px;
  width: 343px;
  height: 409px;
  text-align: left;
  font-size: var(--body-small-medium-size);
  color: var(--greyscale-900);
}
.cover1 {
  position: absolute;
  top: 0;
  left: 732px;
  background-color: #199dc6;
  width: 708px;
  height: 900px;
  overflow: hidden;
  text-align: center;
}
.confirm1 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 140%;
}
.confirm {
  position: absolute;
  top: 528px;
  left: 152px;
  border-radius: var(--br-xs);
  background-color: var(--color-steelblue-200);
  width: 404px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--heading-h6-size);
}
.verify-email-hr {
  position: relative;
  background-color: var(--additional-white);
  width: 100%;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-h3-size);
  color: var(--additional-white);
  font-family: var(--body-small-medium);
}
