.aNewUser,
.dangerSquareIcon {
  position: absolute;
  width: 24px;
  height: 24px;
}

.aNewUser {
  letter-spacing: 0.2px;
  line-height: 150%;
  display: inline-block;
  width: 256px;
}

.popUpAddUser {
  position: absolute;
  border-radius: var(--br-xs);
  background-color: var(--additional-white);
  border: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 334px;
  height: 155px;
  top: 50%;
  left: 50%;
  font-size: var(--body-medium-regular-size);
  color: var(--color-steelblue-100);
  font-family: var(--body-medium-regular);
}