/* Estilizando o ícone de aviso e a mensagem */
.dangerSquareIcon {
  position: absolute;
  top: 39.75%;
  left: 13%;
  width: 1.5rem;
  height: 1.5rem;
}

.thePasswordHas {
  position: absolute;
  top: 42%;
  left: 23%;
  letter-spacing: 0.2px;
  line-height: 150%;
  display: inline-block;
  width: 16rem;
}

/* Estilizando o pop-up de alteração de senha */
.popUpChangePassword {
  position: absolute;
  border-radius: var(--br-xs);
  background-color: var(--additional-white);
  border: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 22rem;
  height: 10rem;
  top: 35%;
  left: 40%;  
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--body-medium-regular-size);
  color: var(--color-steelblue-100);
  font-family: var(--body-medium-regular);
  padding: 1rem;
  /* Adicionando um espaçamento interno */
}