/* Notifications.module.css */

/* Common styles for message1, message2, and notifications */
.message1,
.message2,
.notifications {
  background-color: var(--additional-white);
  box-sizing: border-box;
  margin-bottom: 10px; /* Add some margin at the bottom for spacing */
}

.notifications1 {
  position: absolute;
  top: 5px; /* Adjust the top position for the title */
  left: 24px;
  font-size: var(--heading-h6-size);
  font-weight: bold; /* Make the title bold, adjust as needed */
  letter-spacing: 0.2px;
  line-height: 150%;
  color: var(--greyscale-900);
  width: calc(100% - 48px); /* Adjusted width to account for left and right padding */
  text-align: center;
  margin-bottom: 10px; /* Add some margin at the bottom for spacing */
  z-index: 2; /* Ensure the title is above other elements */
}

.line {
  position: absolute;
  top: 44.5px; /* Adjust the top position for the line */
  left: 0;
  right: 0;
  border-top: 1px solid var(--greyscale-100);
  box-sizing: border-box;
}

.dangerSquareIcon {
  position: relative;
  width: 24px;
  height: 24px;
  top: 0px;
}

.alertExcessiveUse {
  position: absolute;
  width: 20px;
  height: 24px;
  top: 6.5px;
  left: 50px;
  letter-spacing: 0.2px;
  line-height: 150%;
  display: inline-block;
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 10px; /* Add some margin at the bottom for spacing */
  
}

.message1,
.message2 {
  position: relative;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-steelblue-100);
  width: 380px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-8xs) var(--padding-4xs);
  margin-bottom: 10px; /* Add some margin at the bottom for spacing */
}

.message1 {
  top: 40px;
  left: 8px;
  
}

.message2 {
  top: 50px;
  left: 8px;
}

.notifications {
  position: relative;
  border-radius: var(--br-xs);
  border: 3px solid var(--color-steelblue-100);
  width: 400px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--body-medium-regular-size);
  color: var(--color-steelblue-100);
  font-family: var(--body-medium-regular);
  z-index: 1; /* Lower z-index for the notifications content */
}
