.dangerSquareIcon {
  position: absolute;
  top: 40%;
  left: 15%;
  width: 24px;
  height: 24px;
}

.theUserHas {
  position: absolute;
  top: 42%;
  left: 25%;
  width: 24px;
  height: 24px;
  letter-spacing: 0.2px;
  line-height: 150%;
  display: inline-block;
  width: 256px;
}

.popUpRemoveUser {
  position: absolute;
  border-radius: var(--br-xs);
  background-color: var(--additional-white);
  border: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 334px;
  height: 155px;
  top: 45%;
  left: 43%;
  font-size: var(--body-medium-regular-size);
  color: var(--color-steelblue-100);
  font-family: var(--body-medium-regular);
}
