.enterTheEmail,
.resetYourPassword {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 431px;
}
.resetYourPassword {
    position: absolute;
  top: 0;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 125%;
}
.enterTheEmail {
    position: absolute;
  top: 42px;
    text-align: center;
  font-size: var(--body-medium-regular-size);
  line-height: 160%;
  color: var(--greyscale-500);
}
.header {
  position: absolute;
  top: 201px;
  left: 118px;
  width: 300px;
  height: 64px;
  font-size: var(--heading-h3-size);
}

.resetPassword {
  position: absolute;
  border: 1px solid var(--greyscale-200);
  font-family: var(--body-medium-regular);
  font-size: var(--heading-h6-size);
  background-color: transparent;
  top: 350px;
  left: 215px;
  border-radius: var(--br-xs);
  box-sizing: border-box;
  height: 56px;
}
.button {
  position: absolute;
  top: 17px;
  left: 27.5px;
  letter-spacing: 0.2px;
  line-height: 140%;
}
.buttonContinue {
  position: absolute;
  top: 694px;
  left: 274px;
  border-radius: var(--br-xs);
  background-color: #005c7d;
  width: 126px;
  height: 56px;
  font-size: var(--heading-h6-size);
  color: var(--additional-white);
}
.backToSign {
  position: absolute;
  top: 10px;
  left: 10px;
  line-height: 160%;
}
.backToSignIn {
  position: absolute;
  top: 489px;
  left: 275.5px;
  width: 143px;
  height: 42px;
  cursor: pointer;
  text-align: right;
  color: #005c7d;
}
.span {
  letter-spacing: 0.2px;
  font-weight: 500;
}
.dontHaveAnContainer {
  position: absolute;
  top: 556px;
  left: 230px;
  line-height: 160%;
  text-align: center;
}
.signUp {
  position: absolute;
  top: 556px;
  left: 391px;
  line-height: 160%;
  color: #005c7d;
  text-align: right;
}
.content {
  position: absolute;
  top: 40px;
  left: 49px;
  width: 806px;
  height: 847px;
  overflow: hidden;
}
.logo1Icon {
  position: absolute;
  top: 12px;
  left: 40px;
  width: 180px;
  height: 120px;
  background-color: #005c7d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold
}
.logo {
  position: absolute;
  top: 0;
  left: 214px;
  width: 322px;
  height: 211px;
}
.forgotPasswordAdmin {
  position: relative;
  background-color: var(--additional-white);
  width: 100%;
  height: 1000px;
  text-align: left;
  left: 550px;
  font-size: var(--body-medium-regular-size);
  color: var(--greyscale-900);
  font-family: var(--body-medium-regular);
}
