.bigCardChild {
  position: absolute;
  height: 450px;
  width: 370px;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 20px;
  border-radius: var(--br-5xl);
  background-color: var(--additional-white);
}

.bigCardChild1 {
  position: absolute;
  height: 880px;
  width: 800px;
  top: -360px;
  right: 0;
  bottom: 0;
  left: 350px;
  border-radius: var(--br-5xl);
  background-color: var(--additional-white);
}

.bigCardChild3 {
  position: absolute;
  height: 400px;
  width: 370px;
  top: 600px;
  right: 0;
  bottom: 0;
  left: 40px;
  border-radius: var(--br-5xl);
  background-color: var(--additional-white);
}


.bigCardChild4 {
  position: absolute;
  height: 400px;
  width: 370px;
  top: 120px;
  right: 0;
  bottom: 0;
  left: 405px;
  border-radius: var(--br-5xl);
  background-color: var(--additional-white);
}

.bigCardChild5 {
  position: absolute;
  height: 450px;
  width: 370px;
  top: -360px;
  right: 0;
  bottom: 0;
  left: 405px;
  border-radius: var(--br-5xl);
  background-color: var(--additional-white);
}

.numberOfChargesMadeMonthly {
  position: absolute;
  left: 410px;
  top: 110px;
  border-radius: 8px;
  width: 320px;
  height: 450px;
}

.numberOfCharges {
  position: absolute;
  font-size: 20px;
  color: #005c7d;
  width: 200px;
  left: 80px;
  top: 40px;
  text-align: center;
}

.monthlyChargesList {
  position: absolute;
  top: 35px;
  list-style: none;
  padding: 0;
}

.chargeListItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-size: 20px;
  left: 30px;
  top: 40px;
  width: 280px;
  border-bottom: 1px solid #ddd;
}

.date {
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.totalCharges {
  color: #005c7d;
  /* Adjust the color based on your preference */
}




.historyOfCharges {
  position: absolute;
  left: 420px;
  top: -340px;
  border-radius: 8px;
  width: 340px;
  height: 430px;
}

.historyOfCharges1 {
  position: absolute;
  font-size: 20px;
  color: #005c7d;
  width: 200px;
  left: 58px;
  top: 10px;
  text-align: center;
}

.november5October6Septemb {
  position: absolute;
  top: 35px;
  list-style: none;
  padding: 0;
}

.november5October6Septemb li {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-size: 20px;
  left: 18px;
  width: 280px;
  border-bottom: 1px solid #ddd;
}

.november5October6Septemb .date {
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.november5October6Septemb .span {
  color: #005c7d;
}





.div1 {
  top: 231px;
  left: 15px;
  line-height: 160%;
  display: inline-block;
  width: 16px;
  height: 20.8px;
}

.div1,
.div2,
.div3 {
  position: absolute;
}

.div2 {
  top: 176px;
  left: 3px;
  line-height: 160%;
  display: inline-block;
  width: 28px;
  height: 21px;
}

.div3 {
  top: 120px;
  left: 1px;
  width: 30px;
}

.div3,
.div4,
.div5 {
  line-height: 160%;
  display: inline-block;
  height: 21px;
}

.div4 {
  position: absolute;
  top: 64px;
  left: 2px;
  width: 29px;
}

.div5 {
  top: 0;
  left: 0;
  width: 31px;
}

.div,
.div5,
.months {
  position: absolute;
}

.div {
  top: 81px;
  left: 26px;
  width: 31px;
  height: 251.8px;
  text-align: right;
  font-size: var(--body-small-medium-size);
  color: var(--greyscale-500);
}

.months {
  top: 18px;
  left: 548px;
  border-radius: var(--br-5xs);
  width: 102px;
  height: 49px;
}

.monthlyExpenses1 {
  position: absolute;
  top: 30px;
  left: 268px;
  font-size: var(--heading-h6-size);
  font-weight: 800;
  color: var(--on-secondary-container);
  text-align: left;
  display: inline-block;
  width: 155px;
  height: 20px;
}

.monthlyExpenses {
  position: absolute;
  top: 482px;
  left: 467px;
  width: 691px;
  height: 394px;
  text-align: center;
  font-size: var(--body-medium-regular-size);
  color: var(--on-secondary-container30);
}

.backgroundIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 691px;
  height: 338px;
}

.backgroundIcon {
  border-radius: var(--br-xs);
  height: 340px;
}


.kwh {
  margin: 0;
}

.blankLine {
  margin: 0;
  font-size: var(--body-small-medium-size);
  color: var(--color-dimgray-100);
}

.powerInKwhContainer {
  position: absolute;
  top: 280px;
  left: 130px;
  font-weight: 600;
  display: inline-block;
  text-align: left;
  font-size: 35px;
  width: 170px;
  height: 46px;
  color: #005c7d;
}

.monthsDropDown {
  position: absolute;
  top: 400px;
  left: 150px;
  width: 102px;
  height: 49px;
  border: 1px solid;
  background-color: #fff;
  font-size: 14px;
  color: #005c7d;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  appearance: none;
  background: no-repeat right center;
  background-size: 20px 20px;
}

.power,
.power1 {
  position: absolute;
}

.power1 {
  top: 160px;
  left: 160px;
  color: #005c7d;
  font-size: 24px;
  display: inline-block;
  width: 54px;
  height: 19.7px;
}

.power {
  top: 482px;
  left: 23px;
  width: 401px;
  height: 394px;
  font-size: var(--font-size-16xl);
  color: var(--greyscale-900);
}

.backgroundIcon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 401px;
  height: 338px;
}

.backgroundIcon1 {
  border-radius: var(--br-xs);
}

.lineChartIcon,
.lineIcon {
  position: absolute;
  top: 74.9px;
  left: 70.2px;
  width: 318.8px;
  height: 186px;
}

.lineChartIcon {
  top: 103px;
  left: 69.9px;
  width: 319.8px;
  height: 156.3px;
}

.lineIndicatorIcon {
  position: absolute;
  top: 127.3px;
  left: 228.6px;
  width: 14px;
  height: 133.7px;
}

.mon,
.sun {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 160%;
}

.mon {
  left: 50.1px;
}

.tue {
  left: 103.3px;
}

.fri,
.sat,
.thu,
.tue,
.wed {
  position: absolute;
  top: 0;
  line-height: 160%;
}

.wed {
  left: 152.4px;
  font-weight: 500;
  color: var(--color-steelblue-100);
}

.fri,
.sat,
.thu {
  left: 206.5px;
}

.fri,
.sat {
  left: 256.7px;
}

.sat {
  left: 299.8px;
}

.days {
  top: 273.8px;
  left: 70.2px;
  width: 318.8px;
  height: 19px;
}

.days,
.kwh2,
.kwh3 {
  position: absolute;
}

.kwh2 {
  top: 0;
  left: 0.1px;
  line-height: 160%;
}

.kwh3 {
  top: 43px;
  left: 2.1px;
}

.kwh3,
.kwh4,
.kwh5 {
  line-height: 160%;
}

.kwh4 {
  position: absolute;
  top: 86px;
  left: 2.1px;
}

.kwh5 {
  top: 129px;
  left: 8.1px;
}

.kwh1,
.kwh5,
.kwh6 {
  position: absolute;
}

.kwh6 {
  top: 172px;
  left: 8.1px;
  line-height: 160%;
}

.kwh1 {
  top: 66.3px;
  left: 19px;
  width: 44.1px;
  height: 204.3px;
  text-align: right;
}

.kwh7 {
  top: 8px;
  left: 8px;
  line-height: 160%;
}

.activity1,
.kwh7,
.xY {
  position: absolute;
}

.xY {
  top: 107px;
  left: 249.6px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-800);
  box-shadow: 0 20px 40px rgba(15, 23, 42, 0.15);
  backdrop-filter: blur(8px);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 62.2px;
  height: 39.4px;
  color: var(--additional-white);
}

.activity1 {
  top: 25px;
  left: 41px;
  font-size: var(--heading-h6-size);
  letter-spacing: 0.2px;
  line-height: 150%;
  display: inline-block;
  color: var(--greyscale-900);
  width: 63.2px;
  height: 25.7px;
}

.activity {
  position: absolute;
  top: 112px;
  left: 23px;
  width: 401px;
  height: 338px;
}

.content {
  position: absolute;
  top: 0px;
  left: 250px;
  background-color: #f5f5f5;
  /* Light gray background */
  width: 100%;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

.notificationsIcon {
  position: absolute;
  top: 27px;
  left: 1509px;
  border-radius: var(--br-981xl);
  width: 40px;
  height: 40px;
  background-color: white;
  cursor: pointer;
}

.dashboard1 {
  position: absolute;
  top: 29px;
  left: 32px;
  letter-spacing: 0.2px;
  line-height: 125%;
}

.header {
  position: fixed;
  top: 0;
  left: 250px;
  background-color: #005c7d;
  width: 1690px;
  height: 88px;
  overflow: hidden;
  font-size: var(--heading-h3-size);
  color: white;
}

.settings1,
.settingsIcon {
  position: absolute;
  top: 13px;
}

.settings1 {
  left: 24px;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}

.iconshelp,
.settings {
  position: absolute;
  left: 16px;
}

.settings {
  position: absolute;
  top: 970px;
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  cursor: pointer;
}

.help1 {
  position: absolute;
  top: 13px;
  left: 24px;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}

.help,
.profile1 {
  position: absolute;
  left: 16px;
}

.help {
  position: absolute;
  top: 910px;
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  cursor: pointer;
}

.profile {
  position: absolute;
  top: 765px;
  left: 16px;
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  cursor: pointer;
}

.profile {
  top: 140px;
  left: 0;
}

.reportsTexto {
  position: absolute;
  top: 13px;
  left: 16px;
  letter-spacing: 0.2px;
  line-height: 160%;
  font-weight: 500;
}

.reports {
  position: absolute;
  top: 80px;
  left: 0;
  border-radius: var(--br-xs);
  width: 218px;
  height: 48px;
  cursor: pointer;
}



.dashboard3 {
  position: absolute;
  top: 13px;
  left: 16px;
  line-height: 160%;
}

.dashboard2 {
  top: 20px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--greyscale-50);
  width: 218px;
  height: 48px;
  color: var(--color-steelblue-100);
}


.reports,
.help,
.profile,
.settings {
  transition: background-color 0.3s ease;
}

.profile:hover,
.reports:hover,
.help:hover,
.settings:hover {
  background-color: #005c7d;
  /* Change to your desired hover color */
}

.dashboard2,
.menu,
.menu1 {
  position: absolute;
}

.menu1 {
  top: -10px;
  left: 89px;
  font-size: var(--body-small-medium-size);
  letter-spacing: 1px;
  line-height: 160%;
  color: white;
}

.menu {
  top: 148px;
  left: 16px;
  width: 218px;
  height: 259px;
}

.line {
  top: 0;
  position: fixed;
  left: 250px;
  border-right: 1px solid var(--greyscale-100);
  width: 1px;
  height: 88px;
  box-sizing: border-box;
}


.logo1Icon {
  position: fixed;
  top: 2%;
  left: 2.7%;
  width: 7.5%;
  height: 12%;
  background-color: rgb(22, 128, 160);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold
}

.dashboard,
.sidebar {
  height: 100%;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(22, 128, 160);
  box-shadow: 10px 10px 50px rgba(100, 116, 139, 0.04);
  width: 13.3%;
  font-size: var(--body-medium-regular-size);
  color: white;
}

.dashboard {
  position: fixed;
  background-color: var(--color-gray-100);
  width: 100%;
  text-align: left;
  font-size: var(--body-small-medium-size);
  color: var(--greyscale-500);
  font-family: var(--body-medium-regular);
}

/* Responsive styles using media queries */
@media screen and (max-width: 768px) {
  /* Adust other styles as needed for smaller screens */
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  /* Styles for screens with a width between 769 and 1200 pixels */
}

@media screen and (min-width: 1201px) {
  /* Styles for screens with a width greater than 1200 pixels */
}